/**
 * typography.scss
 * --------------------------------------------------
 * Define base for typo (a, h1, p, etc.)
 */

@import "variables";
a {
  color: $color-link;
}

.material-icons.md48 {
  font-size:48px;
  height:48px;
  width:48px;
}