/**
 * login.scss
 * --------------------------------------------------
 * Custom style for datable components
 */

// Colors definition
$color-primary: #ffa10d;
$color-dark-primary: #000000;

// Login button properties
$input-button-height: 50px;

.login-page {
  height:100%;

}

// Header Style
.login-header {

  background-color: $color-dark-primary;
  height:30%;
  border-bottom: 4px solid $color-primary;

  .login-header-content {

    // Vertical centering
    margin-top: 15vh;
    transform: translateY(-50%);

    img {
      height: 100%;
      max-height: 70px;
    }

    h2 {
      padding-right: 60px;
      padding-botton: 5px;
      margin-top: 3px;
    }
  }
}

// Form Style
.login-form {

  padding-top:100px;
  height:70%;

  background-size: cover;
  background-position: center;
  background-image:url(../../assets/img/login_background.jpg);

  .login-form-content {

    // Center form
    margin-left: auto;
    margin-right: auto;
    float:none;

    // Semi-transparent box
    background-color: rgba($color-dark-primary, 0.8);
    padding: 30px;

    input {

      background: $color-primary-light;
      height:$input-button-height;
      font-size:large;
      opacity: 0.95;

      // Custom margin for password input
      &[type~=password] {
        margin-bottom: 10px;
      }
    }

    a {
      text-shadow: 2px 2px 8px $color-dark-primary;
    }

    button {
      margin-top:25px;
      background-color: $color-primary;
      font-size:x-large;
      border-radius: 0px;
      height: $input-button-height;
      padding: 0px 40px;
      color: $color-primary-light;
    }
  }
}