/**
 * statbox.scss
 * --------------------------------------------------
 * Custom style for stat box component
 */
@import '../base/variables';


.bg-period {
  background-color: $color-first-period;
  color:#fff!important;
}

.bg-compared-period{
  background-color: $color-second-period;
  color:#fff!important;
}

.fca-statbox-kpi-container {
  min-width: 250px;
}

.fca-stat-box-card {

  position: relative;
  .material-icons {
    font-size: 58px;
  }

  .bg-icon {
    position: absolute;
    top:25%;
    right:10px;
  }
  
  md-icon {
    width: auto;
    height: auto;
    margin: 0;
  }

  md-card-content {
    z-index:1;
  }
}