<div class="content-wrapper">
  <section class="content-header">
    <nav class="navbar">
      <div class="pull-left">
        <h3>
          <i class="fa fa-pie-chart"></i>
          <span> Counters / Generic</span>
        </h3>
      </div>
      <fca-calendar-picker params="params"></fca-calendar-picker>
      <div class="pull-right">
        <h3>
          <a ng-click="switchTimeZone()" class="btn btn-default" type="text">{{params.useTimeZone ? 'On Site Time': 'Local Time'}}
            <i class="fa fa-globe"></i>
          </a>
        </h3>
      </div>
    </nav>
  </section>

  <section class="content">
    <div class="row section-group" ng-controller="SiteNavigationController as nav" ng-init="init(params)">
      <section class="col-md-12 header">
        <fca-widget-navigation three="nav.three" three-pos="nav.threePos" on-next-site="nav.goNav($event)">
        </fca-widget-navigation>
      </section>

      <section class="col-md-12">
        <div ng-controller="KPISum as kpi">
          <fca-stat-box-kpi kpi="kpi" params="nav.params" indicator="in" label="Total In" unit='ent' description="Total number of entries over the selected perdiod.">
          </fca-stat-box-kpi>
        </div>
      </section>

      <section class="col-md-12">
        <div ng-controller="KPIServerGeneric as kpi" ng-init="init(params)">
          <fca-graph-kpi ng-if="kpi.kpis.length" params="nav.params" kpi="kpi">
          </fca-graph-kpi>
        </div>
      </section>
      <div class="row">
        <section class="col-md-12">
          <div ng-controller="KPIServerGeneric as kpi" ng-init="init(params)">
            <fca-table-kpi ng-if="kpi.kpis.length" params="nav.params" kpi="kpi" on-next-item="nav.goChildFromId($event)">
            </fca-table-kpi>
          </div>
        </section>
      </div>
    </div>
  </section>

</div>