<section layout="column">

  <fca-dashboard-header on-time-zone="switchTimeZone()" title="Counters / Generic" title-icon="fa-pie-chart" params="params">
  </fca-dashboard-header>

  <div ng-controller="KPIPeriodGeneric as kpi">
    <fca-graph-kpi params="params" kpi="kpi">
    </fca-graph-kpi>
  </div>

  <div ng-controller="KPISumGeneric as kpi">
    <fca-table-kpi params="params" kpi="kpi" kpi-options="{indicators: [{id:'in',name:'In'},{id:'out',name:'Out'},{id:'occ',name:'Max Occupancy',func:'KPIMax'}]}">
    </fca-table-kpi>
  </div>

</section>
