<md-sidenav md-is-locked-open="true">

	<md-content layout="column">

		<h3>MAIN NAVIGATION</h3>

		<fca-menu-toggle title="Counters" title-icon="fa-pie-chart">
			<ul>
				<li>
					<md-button ui-sref="dashboard" ui-sref-active="active"><i class="fa fa-circle-o"></i>##--Sites Overview</md-button>
				</li>
				<li>
					<md-button ui-sref-active="active" ui-sref="generic"><i class="fa fa-circle-o"></i> Generic</md-button>
				</li>
				<li>
					<md-button ng-show="hasUserDashboard" ui-sref-active="active" ui-sref="mydashboard"><i class="fa fa-circle-o"></i> MyDashboard</md-button>
				</li>
			</ul>
		</fca-menu-toggle>

		<fca-menu-toggle title="Monitoring" title-icon="fa-heartbeat">
			<ul>
				<li>
					<md-button ui-sref-active="active" ui-sref="monitoring"><i class="fa fa-circle-o"></i> Sites Overview</md-button>
				</li>
			</ul>
		</fca-menu-toggle>

		<fca-menu-toggle title="Settings" title-icon="fa-book">
			<ul>
				<li>
					<md-button ui-sref-active="active" ui-sref="current_user"><i class="fa fa-circle-o"></i> Profile</md-button>
				</li>
				<li>
					<fca-menu-toggle ng-show="user.admin" title="Overall" title-icon="fa-share">
						<ul>
							<li>
								<md-button ui-sref-active="active" ui-sref="settings_users"><i class="fa fa-circle-o"></i> Users management</md-button>
							</li>
							<li>
								<md-button ui-sref-active="active" ui-sref="settings_sites"><i class="fa fa-circle-o"></i> Sites management</md-button>
							</li>
							<li>
								<md-button ui-sref-active="active" ui-sref="settings_per_site"><i class="fa fa-circle-o"></i> Sites Associated Users</md-button>
							</li>
							<div ng-show="false">
								<li>
									<md-button ui-sref-active="active" ui-sref="settings_users_sites"><i class="fa fa-circle-o"></i> Users - Sites management</md-button>
								</li>
								<li>
									<md-button ui-sref-active="active" ui-sref="settings_per_user"><i class="fa fa-circle-o"></i> Per User management</md-button>
								</li>
							</div>
						</ul>
					</fca-menu-toggle>
				</li>
				<li>
					<fca-menu-toggle ng-show="hasAdminSites" title="My Sites" title-icon="fa-share">
						<ul>
							<li>
								<md-button ui-sref-active="active" ui-sref="settings_site_items"><i class="fa fa-circle-o"></i> Cameras</md-button>
							</li>
							<li>
								<md-button ui-sref-active="active" ui-sref="settings_site_members"><i class="fa fa-circle-o"></i> Members</md-button>
							</li>
						</ul>
					</fca-menu-toggle>
				</li>
			</ul>
		</fca-menu-toggle>

	</md-content>

</md-sidenav>