<div class="box widget-nav">
    <div class="box-header with-border row">
        <div class="col-md-7">
            <i class="fa fa-search box-title"></i>
            <h3 class="box-title">
                <div class="box-title" ng-repeat="entry in breadCrumbs">
                    <button class="no-decoration" ng-click="goNav(entry)">{{entry.name}}</button>
                    <i ng-if="!$last" class="fa fa-angle-right"></i>
                </div>
            </h3>
            <div class="btn-group" uib-dropdown>
                <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-click="initNav()" ng-disabled="disabled">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" class="top-entry">
                        <button class="no-decoration" ng-if="navPos.parent" type="button" ng-click="navParent($event)">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button class="no-decoration" ng-click="goNav(navPos)"><strong>{{navPos.name}}</strong></button>
                    </li>
                    <li class="divider"></li>                    
                    <li ng-repeat="entry in navPos.childs" role="menuitem" class="entry">
                        <button class="no-decoration" ng-click="goNav(entry)">{{entry.name}}</button>
                        <button type="button" class="btn no-decoration" ng-click="navChild($event, entry)">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>