<md-toolbar md-colors="{'background-color': 'accent-500'}">
	<div class="md-toolbar-tools">
		<md-button hide-gt-sm class="md-icon-button" ng-click="toggleSideBar()">
			<md-icon>
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet"
				 focusable="false">
					<path d="M0 0h18v18h-18z" fill="none"></path>
					<path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z" fill="white"></path>
				</svg>
			</md-icon>
		</md-button>

		<h2>Counter / Dashboard</h2>

		<md-menu>
			<md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
				<md-icon class="material-icons icon">account_circle</md-icon>
			</md-button>
			<md-menu-content class="pad20">
				<div>
					<div><strong>{{user.name | uppercase}}</strong></div>
					<div>{{user.admin ? 'Administrator' : 'User' }}</div>
					<div>
						<small>{{user.email}}</small>
					</div>
					<md-button>Profile</md-button>
					<md-button>Sign out</md-button>
				</div>
				<!--<md-card-footer>
					<div class="pull-left">
						<a href="#/current_user" class="btn btn-default btn-flat">Profile</a>
					</div>
					<div class="pull-right">
						<a class="btn btn-default btn-flat" href="/logout">Sign out</a>
					</div>
				</md-card-footer>-->
			</md-menu-content>
		</md-menu>

	</div>

</md-toolbar>